<!doctype html>
<html>
<head>
    {% include 'head.html' %}
</head>

<body class="index">
<a href="#" id="nav-button">
    <span>
        <img src="images/navbar.png" />
    </span>
</a>
<div class="tocify-wrapper">

    <a class="api-title" href="/">
        {% if LOGO_IMG %}
            {% if IS_LOGO_ABSOLUTE_URL == True%}
                <img src="{{ LOGO_IMG }}" />
            {% else %}
                <img src="{{ url_for('static', filename='/images/') }}{{ LOGO_IMG }}" />
            {%  endif %}
        {% elif LOGO_TITLE %}
            <h2> {{ LOGO_TITLE }} </h2>
        {% else %}
            <h2> API Document </h2>
        {% endif %}
    </a>

    {% if SUPPORT_LANGUAGES %}
        <div class="lang-selector">
            {% for LANG in SUPPORT_LANGUAGES %}
                <a href="#" data-language-name="{{ LANG }}">{{ LANG }}</a>
            {% endfor %}
        </div>
    {% endif %}

    {% if IS_SEARCH %}
        <div class="search">
            <input type="text" class="search" id="input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
    {% endif %}


    <div id="toc">
    </div>

    {%  if COPYRIGHT  %}
        <ul class="toc-footer">
            <li> {{COPYRIGHT}}</li>
        </ul>
    {% endif %}
</div>

<div class="page-wrapper">
    <div class="dark-box"></div>
    <div class="content">
        {% for DOC in DOCS %}
            {% autoescape false %}
               {{ DOC }}
            {% endautoescape  %}
        {% endfor %}
    </div>
    <!-- content -->

    <div class="dark-box">
        {% if SUPPORT_LANGUAGES %}
            <div class="lang-selector">
                {% for LANG in SUPPORT_LANGUAGES %}
                    <a href="#{{ LANG }}" data-language-name="{{ LANG }}">{{ LANG }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <!-- dark-box -->
</div>
<!-- page-wrapper -->
<script>
    var clipboard = new Clipboard('.clipboard');

    clipboard.on('success', function(e) {
        $(e.trigger).text('copied');
        e.clearSelection();
        window.setTimeout(function(){$(e.trigger).text('copy');}, 500);
    });

    clipboard.on('error', function(e) {
        console.error('Action:', e.action);
        console.error('Trigger:', e.trigger);
    });

    $(".clipboard").click(function(e){
        e.preventDefault();
    });
</script>

</body>
</html>
