<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>


    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- include summernote css/js-->
    <script src="{{ url_for('static', filename='/js/summernote.js') }}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" media="print" href="{{ url_for('static', filename='/css/summernote-bs3.css') }}">


    <!-- hightlight.js -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/default.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
</head>

<body>

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Admin
                </a>
            </li>
            <li>
                <a href="#" class="side-menu"> Configuration</a>
            </li>
            <li>
                <a href="#" class="side-menu">  Documents</a>
            </li>

            <li>
                <a href="/"> back </a>
            <li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->


    <div id="configuration">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <h1>Configuration</h1>

                    <pre><code class="JSON">{{config_json}}</code></pre>
                </div>
            </div>
        </div>
    </div>

    <div id="documents" style="display: none;">

        <div class="container-fluid ">
            <h1>Documents</h1>
        </div>

        <div class="container-fluid col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">index</div>
            </div>

            <div class="list-group">
                {% for index in indexes %}
                <a href="#" class="list-group-item index">
                    {{index}}
                </a>
                {% endfor %}
            </div>
        </div>

        <div class="container-fluid col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">Markdown Files</div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading mk-title"> </div>
                <div class="panel-body mk-body">

                </div>

            </div>

        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


<!-- Menu Toggle Script -->
<script>

    $(document).ready(function() {

        //첫번째 마크다운 파일 보여주기.
        $(".index")[0].click();
    });


    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });


    $(".side-menu").click(function(e) {

        //왼쪽 사이드메뉴 클릭시, 해당하는 element-id show().

        $(".side-menu").each(function( index ) {
            var sideMenuId = $(this).text().toLowerCase().trim();
            $("#"+sideMenuId).hide();
        });

        var sideMenuId =$(this).text().toLowerCase().trim();
        $("#"+sideMenuId).show();

    });

    $(".index").click(function(e) {

        //index 에서 파일 선택하면 오른쪽에 파일내용 보여짐.

        $(".index").each(function( index ) {
            $(this).attr("class", "list-group-item index");
        });


        $(this).attr("class", "list-group-item index active");
        var indexFileName =$(this).text().trim();
        var url="/documents/" + indexFileName;

        $.ajax({
            type:"GET",
            url:url,
            success:function(args){

                var titleHtml = args.file_name;


                $(".mk-title").html(titleHtml);
                $(".mk-body").html(args.text);

            },
            error:function(e){
                alert(e.responseText);
            }
        });

    });


</script>

</body>

</html>

